body {
    color: #000;
    font-family: Arial, Helvetica, sans-serif; 
}

h1 {
    font-size: 120px;
    padding-left: 40px;
}

#bus-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 300px;

    li {
        background: #ccc;
        padding: 10px 20px;
        border-radius: 3px;
        margin-bottom: 10px;
    }
}