
@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;

    &.cold {
        background-color: #abe9cd;
        background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    }
    &.medium {
        background-color:  #3eadcf;
        background-image: linear-gradient(315deg, #f6d285 0%,  #3eadcf 70%);
    }
    &.warm {
        background-color: #b5c327;
        background-image: linear-gradient(315deg, #b5c327 0%, #ffc907 50%);
    }
}

#weather {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 45px 25px;
}

#weather .icon {
    margin: 0;
    color: #fff;
    font-family: weather;
    font-size: 380px;
    font-weight: normal;
    line-height: 210px;
    width: 50%;
}

#weather .icon.icon-0:before { content: ":"; }
#weather .icon.icon-1:before { content: "p"; }
#weather .icon.icon-2:before { content: "S"; }
#weather .icon.icon-3:before { content: "Q"; }
#weather .icon.icon-4:before { content: "S"; }
#weather .icon.icon-5:before { content: "W"; }
#weather .icon.icon-6:before { content: "W"; }
#weather .icon.icon-7:before { content: "W"; }
#weather .icon.icon-8:before { content: "W"; }
#weather .icon.icon-9:before { content: "I"; }
#weather .icon.icon-10:before { content: "W"; }
#weather .icon.icon-11:before { content: "I"; }
#weather .icon.icon-12:before { content: "I"; }
#weather .icon.icon-13:before { content: "I"; }
#weather .icon.icon-14:before { content: "I"; }
#weather .icon.icon-15:before { content: "W"; }
#weather .icon.icon-16:before { content: "I"; }
#weather .icon.icon-17:before { content: "W"; }
#weather .icon.icon-18:before { content: "U"; }
#weather .icon.icon-19:before { content: "Z"; }
#weather .icon.icon-20:before { content: "Z"; }
#weather .icon.icon-21:before { content: "Z"; }
#weather .icon.icon-22:before { content: "Z"; }
#weather .icon.icon-23:before { content: "Z"; }
#weather .icon.icon-24:before { content: "E"; }
#weather .icon.icon-25:before { content: "E"; }
#weather .icon.icon-26:before { content: "3"; }
#weather .icon.icon-27:before { content: "a"; }
#weather .icon.icon-28:before { content: "A"; }
#weather .icon.icon-29:before { content: "a"; }
#weather .icon.icon-30:before { content: "A"; }
#weather .icon.icon-31:before { content: "6"; }
#weather .icon.icon-32:before { content: "1"; }
#weather .icon.icon-33:before { content: "6"; }
#weather .icon.icon-34:before { content: "1"; }
#weather .icon.icon-35:before { content: "W"; }
#weather .icon.icon-36:before { content: "1"; }
#weather .icon.icon-37:before { content: "S"; }
#weather .icon.icon-38:before { content: "S"; }
#weather .icon.icon-39:before { content: "S"; }
#weather .icon.icon-40:before { content: "M"; }
#weather .icon.icon-41:before { content: "W"; }
#weather .icon.icon-42:before { content: "I"; }
#weather .icon.icon-43:before { content: "W"; }
#weather .icon.icon-44:before { content: "a"; }
#weather .icon.icon-45:before { content: "S"; }
#weather .icon.icon-46:before { content: "U"; }
#weather .icon.icon-47:before { content: "S"; }

#weather h2 {
  margin: -30px 0 8px;
  color: #fff;
  font-size: 140px;
  font-weight: 300;
  width: 50%;
  text-align: center;
  font-family: sans-serif;
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  color: #fff;
  padding: 0px 15px;
  display: inline-block;
  font-size: 22px; 
  font-family: 'Catamaran', sans-serif;
}

#weather .updated {
  opacity: 0.45;
}